[class^=ais-] {
  font-size: 1rem;
  box-sizing: border-box;
}
.ais-SearchBox {
  margin: 1em 0;
  border: none;
}
.ais-SearchBox-input {
  width: 95%;
  border: 0px solid;
  padding-top: 2px;
  padding-bottom: 2px;
  text-indent: 10px;
  border-bottom: 2px solid #b0b2bc;
  background-color: transparent;
}
.ais-SearchBox-submit{
  border-style: none;
  border-width: 0px;
  padding: 1px 7px 2px;
  border-bottom: 2px solid #b0b2bc;
  background-color: transparent;
}
.ais-SearchBox-reset{
  border-width: 0px;
  background-color: transparent;
}
.ais-SearchBox-submitIcon{
  width: 10;
  height: 10;
}
.ais-Hits-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.ais-Hits-item{
  padding-left: 10px;
  padding-right: 10px;
  width: 30vh
}
.ais-Pagination {
  margin-top: 1em;
}
.left-panel {
  float: left;
  width: 250px;
}
.right-panel {
  margin-left: 260px;
}
.hit-name {
  margin-bottom: 0.5em;
}
.hit-description {
  color: #888;
  font-size: 14px;
  margin-bottom: 0.5em;
}
ul {
  list-style-type: none;
  padding-inline-start: 0px;
}
.material-icons {
  font-size: 1rem;
  padding-right: 10px;
  color: #666b7f
}
.ais-Highlight{
  word-wrap: break-word
}